body {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    animation: auto;
    background: skyblue;
    
}

.card {
    background: skyblue;
    padding: 3em;
    border-radius: 60px;
    width: auto;
    background-image: url("https://3.bp.blogspot.com/-hNWh6ShDJGs/XFUltMH2fsI/AAAAAAAABz0/_UwOXZDl3ZEtejlpgFQoUBJ_rjt3O9ipgCKgBGAs/w919/mountains-fog-landscape-scenery-16-4K.jpg");
}
